################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZySocialAPI/Data/ZySocialDbContext.cs
/ZySocialAPI/ImgurSecrets.cs
